---
import Layout from "../../layouts/Layout.astro";
import { AstroSeo } from "@astrolib/seo";
// import SliderConfesiones from "../../components/Sliders/sliderConfesiones.jsx";
import HeroHistorias from "../../components/Heros/HeroHistorias.astro";
// import "../../components/Sliders/sliderConfesiones.css";

import PreLoader from "../../components/PreLoader.astro";
import Marquee from "../../components/marQuee.astro";

import CtaPublicar from "../../components/Cta/ctaPublicar.astro";

import Historias from "../../components/Historias.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="keywords"
      content="confesiones anónimas, compartir secretos, secretos anónimos, confesiones online, Hasta la Tumba"
    />

    <meta name="generator" content={Astro.generator} />

    <AstroSeo
      title="Confesiones Anónimas - Comparte tus Secretos de Forma Segura"
      description="Descubre y comparte confesiones anónimas de forma segura en HastalaTumba. Únete a nuestra comunidad global y encuentra apoyo y empatía"
      canonical="https://www.hastalatumba.cl/historias"
      openGraph={{
        url: "https://www.hastalatumba.cl/historias",
        type: "website",
        title: "Confesiones Anónimas - Comparte tus Secretos de Forma Segura",
        description:
          "Confiesa tus secretos más profundos de forma anónima y segura. Lee confesiones de otros y comparte tus experiencias en nuestra plataforma.",
        images: [
          {
            url: "https://www.hastalatumba.cl/OgImage.webp",
            width: 1240,
            height: 630,
            alt: "Libérate y cuenta tu secreto que ha nadie le contarías",
            type: "image/webp",
          },
        ],
        site_name: "Hasta La Tumba",
      }}
      twitter={{
        handle: "@handle",
        site: "@site",
        cardType: "summary_large_image",
      }}
    />
    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "",
            "item": "www.hastalatumba.cl"
          }
        ]
      }
    </script>
  </head>

  <Layout title="">
    <main>
      <PreLoader preloaderText="El Mausoleo De Historias" />
      <HeroHistorias
        sectionClasses="bg-[url('/Imagenes/portadas/heroHombre.webp')] h-screen w-full bg-cover flex justify-center items-center flex-col "
        overlayClasses=" absolute inset-0 bg-black opacity-70 h-screen w-full"
        h1Text="Mausoleo De Historias"
        h1Classes="text-white font-black tracking-tight text-5xl sm:text-5xl md:text-7xl lg:text-7xl xl:text-8x1 text-center filter blur-[3px] contrast-[120%] w-[80%]"
        HomeLink="/"
        NombreHomeLink="Purgatorio"
        linkSeccion="/historias"
        seccion="Historias"
        tituloSeccion="Mausoleo"
      />

      <Historias />

      <!-- <SliderConfesiones client:load /> -->
      <Marquee />

      <CtaPublicar
        tituloCta="Comparte en nuestro sitio tus secretos más profundos y protégelos para siempre. La libertad de ser anónimo te espera."
        classesTituloCta="tracking-tight  text-3xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-8x1 font-bold"
      />
    </main>
  </Layout>


</html>
