<!-- Don Cagazo-->
<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#DonCagazo"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>
<section class="py-5 px-4 lg:px-20" id="DonCagazo">
  <div class="flex flex-wrap">
    <div class="w-full md:w-2/3">
      <div class="flex justify-between items-center">
        <span class="font-light text-gray-300">30 Junio 2024</span>
      </div>
      <div class="mt-2">
        <h1 class="text-5xl text-gray-400 font-bold -600 mb-5">Don Cagazo</h1>

        <blockquote
          class="border-l-4 border-gray-500 italic font-bold p-10 bg-red-600"
        >
          <p class="text-lg font-medium">
            Hola, chic@s, espero todos y todas estén muy bien, lo primero que me
            gustaría decir es que las cagueee….
          </p>
          <cite class="block text-right mt-4 text-gray-100">- Anónimo </cite>
        </blockquote>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Y las sigo cagando, no sé por dónde empezar, tratare de no aburrirlos,
          pero es difícil para mí escribir, estructurar una metida de pata hasta
          el fondo, una cagada descomunal, que en la vida no se la podría
          compartir a nadie. Bueno mi nombre es Don Cagazo, me autodenomino así
          porque me he pegado muchos condoros en la vida, pero uno de ellos y
          que me consume mucha energía, me quita el sueño, es esto que les voy a
          liberar.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Pertenezco a una familia de mucho esfuerzo, mi padre un obrero que
          hasta la fecha se rompe el lomo para llevar la comida al hogar, mi
          madre dueña de casa, imposible trabajar para ella, porque era
          imposible percibir un sueldo que le permita pagar a una tercera
          persona, que pueda cuidar a cuatro bendiciones, yo soy el menor de los
          cuatro hermanos, nacidos y criados en un hermoso pero precario pueblo
          de Chile.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Mis hermanos solo tuvieron la oportunidad de estudiar hasta la media,
          aprendieron distintos oficios y empezaron a trabajar muy jóvenes,
          mientras el conchito, es decir, yo, con suerte movía la raja para
          lavármela. De alguna forma fui el más regalón, por todos, el que pudo
          tener una alimentación un poquito mejor, ropa de mejor calidad, no
          traspasada por hermanos como una herencia, me llevaron a psicólogo, ya
          eso era lo máximo, a mis hermanos un palmazo por las orejas y ese era
          el tratamiento, entonces me sentí siempre afortunado en comparación
          con ellos, lo llevaba siempre a la broma, por ende fui creciendo con
          un dejo de superioridad, me daba los lujos de salir a temprana edad a
          fiestas , discotecas de pueblo en donde todos son amigos y amigas,
          esas en las que para ir al baño debes saludar a toda la pista de
          baile, llegas al baño a punto de orinarte, carretes de casa, asados,
          entonces fui como la oveja negra, esa que existe en todas las
          familias, no se hagan los lesos.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Con el correr del tiempo, finalice la etapa de enseñanza media y me
          ofrecieron mis padres en conjunto con mis hermanos, que yo fuese el
          primero en ir a la Universidad, el primer profesional de la familia,
          el primero en obtener un titulo superior mejor dicho, porque
          profesionales existen muchos en distintos rubros, sin la necesidad de
          pasar por la universidad en mi opinión, por lo tanto motivado por este
          apoyo masivo, rendí la cuestión ésta que le cambian el nombre a cada
          rato para calificar y entrar a estudiar una carrera, me fue bien ,
          pero me debía ir a vivir a una ciudad lejana de mi querido pueblo.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Finalmente postulé e ingrese a estudiar una carrera orientada a mis
          inclinaciones de ese entonces, pero antes tuve que buscar una pensión,
          un pequeño lugar que me permitiera vivir de lunes a viernes, no tan
          caro el arriendo, cerca de la Institución Educacional, que tenga una
          buena cama, una cocina compartida con pocos estudiantes, idealmente no
          tan buenos para comer, para que no me caguen con mi comida, que tenga
          más de un baño, patio para fumar, e idealmente que no necesite tomar
          locomoción, para ahorrar, una serie de requisitos y/o condiciones para
          que el niño o la niña este cómodo, creo que acá varios compartirán
          esta apreciación conmigo, a muchos les ocurre.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Entre a estudiar poh , me iba bien, los primeros tres meses, que fue
          lo que me tarde en hacer buenos amigos, de esos que te dicen hermano,
          los que te esperan a la salida de la sala de estudio para ir a tomar ,
          esos con los que compartes el copete desde la misma botella, según yo
          la estaba haciendo de lujo. Para resumir, en la medida que fui
          avanzando en los estudios, fui avanzando en la intensidad de todo con
          lo que tienes a mano, había días que faltaba a clases, me corría
          mucho, la resaca no me dejaba levantarme, entonces comencé a priorizar
          más pasarlo bien, que mi futuro, fue ahí mi gran error.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Como se imaginarán, viajaba los primeros fines de semana a ver a mis
          padres y hermanos, luego inventaba escusas, evaluaciones, trabajos en
          grupo, que iniciaban y terminabas en esos locales que entras, te
          encuentras con una multitud de cabros jóvenes tomando en cantidades
          industriales, y en la mesa un par de sopaipillas, la dieta
          estudiantil.
        </p>
        <p class="text-lg font-light text-gray-100 p-1 shadow-lg">
          Pero cuando la cague profundamente, fue cuando me empecé a gastar las
          lucas de la mensualidad, , con suerte pagaba la pensión, el carrete me
          la gano, debo reconocerlo, debido a este mal comportamiento , en todo
          aspecto, perdí mi carrera, como sabia que mis padres no podrían
          saberlo y mis hermanos en sus temas, solo aportaban económicamente, no
          me vi afectado en su momento, simule que seguía con mis estudios, pero
          hoy, que supuestamente los años que dura la carrera han finalizado ,
          tuve que inventar que me recibí, que mi título está en proceso, y que
          ya estoy trabajando, bueno esto último es verdad, encontré una peguita
          que no tiene ninguna relación con la supuesta profesión, pero por
          ultimo me permite dejar de sacarles plata a mi familia, que es lo que
          más me tiene afectado, se que actué por mucho tiempo muy mal,
          inventando que estaba estudiando, gastándome el dinero que con tanto
          esfuerzo reunían mes a mes para que fuese el primer hijo con un título
          profesional, dinero para pensión, materiales, ropa, alimentación,
          pasajes, con todo esto quedo corto, siento mucha pena , esto no se lo
          doy a nadie, en el momento se pasa bien, cegado del error que uno
          comete, pero lo que mas hace sufrir es el daño que le causamos a
          nuestros seres queridos, si tienen hijos estudiando , revisen, vayan a
          las universidades o Institutos , como padres hay que estar mas atentos
          , yo la cague, engañe y a la fecha es algo que guardo , que me hace
          daño y que jamás podría confesarlo con nadie .
        </p>
      </div>
    </div>
    <div class="w-full md:w-1/3 p-4">
      <div class="justify-center flex">
        <img
          src="https://hastalatumba.zona8.cl/mausoleo-de-historias/la-mujer-era-un-lobo/imagenes/autor.webp"
          class="rounded-full"
        />
      </div>
      <p class="text-center">
        Descubre el Secreto Mejor Guardado! Comparte tus Confesiones de Lujuria
        y Pasión en Total Anonimato
      </p>
    </div>
  </div>
</section>
