---
export interface CardProps {
  titulo_servicio: string;
  descripcion_servicio: string;
}

const {
  titulo_servicio,
  descripcion_servicio,

} = Astro.props;
---

<div class="p-5 bg-white rounded-xl gap-y-2 w-full border">

  <div class="flex flex-col gap-y-2.5">
    <h3 class="text-lg font-semibold text-black">{titulo_servicio}</h3>
    <p class="text-black text-base">{descripcion_servicio}</p>
 
  </div>
</div>
