---
interface Props {
  pregunta: string;
  respuesta: string;
}

const { pregunta, respuesta } = Astro.props;
---

<section id="Puf">
  <div class="container flex flex-col justify-center">
    <div class="">
      <details class="w-full">
        <summary class="focus:outline-none text-xl pb-2 cursor-pointer"
          >{pregunta}</summary
        >
        <p class="px-2 pb-2 text-gray-300 text-xl">
          {respuesta}.
        </p>
      </details>
    </div>
  </div>
</section>
