---
export interface Props {
  buttonClasses: string;
  textoBtn?: string;
  fontAwesome?: string;
}

const { textoBtn = "", fontAwesome = "", buttonClasses = "" } = Astro.props;
---

<button class={buttonClasses}>
  <i class={fontAwesome}></i>
  <span class="text-base">{textoBtn}</span>
</button>
