---
import TarjetaServiciosPaginas from "../Tarjetas/TarjetaServiciosPaginas.astro";
---

<section class="bg-[#F4F4F7] py-10 p-2">
  <div class="max-w-7xl mx-auto pt-10">
    <div
      class="w-full pt-10 lg:w-full relative isolate grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
    >
      <TarjetaServiciosPaginas
        titulo_servicio="Estudio de obra gruesa terminaciónes"
        descripcion_servicio="descripcion"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Estudio de Presupuestos"
        descripcion_servicio="descripcion"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Coordinación de licitaciones y administración de contratos"
        descripcion_servicio="descripcion"
      />
      <TarjetaServiciosPaginas
        titulo_servicio=" Inspección técnica de obra"
        descripcion_servicio="descripcion"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Obras civiles y edificación"
        descripcion_servicio="descripcion"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Aseo y mantención integral de todo tipo de dependencias"
        descripcion_servicio="incluye embarcaciones (Limpieza de Estanques, Limpieza de Sentina, Preparación de Superficies, Etc.)"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Otros"
        descripcion_servicio="descripcion"
      />
    </div>
  </div>
</section>
