---
import TarjetaServiciosPaginas from "../Tarjetas/TarjetaServiciosPaginas.astro";
---

<section class="bg-[#F4F4F7] py-10 p-2">
  <div class="max-w-7xl mx-auto pt-10">
    <div
      class="w-full pt-10 lg:w-full relative isolate grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5"
    >
      <TarjetaServiciosPaginas
        titulo_servicio="Mobiliario"
        descripcion_servicio="Fabricación en madera y metal"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Divisiones"
        descripcion_servicio="Tabiquería falsa, tabiquería vidriada y vulcometal"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Cielos y Pisos"
        descripcion_servicio="Cielos falsos y americanos, marquesinas, filtraciones, pisos flotantes, cerámicos, porcelanatos y alfombras"
      />
      <TarjetaServiciosPaginas
        titulo_servicio=" Gasfitería"
        descripcion_servicio="Instalación y mantención de baños y cocinas"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Electricidad"
        descripcion_servicio="ableros de distribución, iluminación, redes y certificación SEC"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="CCTV"
        descripcion_servicio="descripcion"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Climatización y Refrigeración"
        descripcion_servicio="Aire acondicionado, calefacción, cámaras de frio y equipos de refrigeración"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Citofonía digital y análoga"
        descripcion_servicio="Instalación para edificios y empresas"
      />
      <TarjetaServiciosPaginas
        titulo_servicio="Cortinas Metálicas"
        descripcion_servicio=" Instalación, reparación y mantención de cortinas metálicas"
      />
    </div>
  </div>
</section>
