


.SliderProyectos{
    
    cursor: ew-resize;
}

.SliderProyectos .swiper {
    width: 100%;


}

.SliderProyectos .swiper-slide {

    background: transparent;
    display: flex;
    flex-direction: column;
}

.SliderProyectos .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}