


.UltimosQr{
    margin: 20px 0 20px 0;
    cursor: ew-resize;
}

.UltimosQr .swiper {
    width: 100%;
    height: 50%;

}

.UltimosQr .swiper-slide {

    background: transparent;
    display: flex;
    flex-direction: column;
}

.UltimosQr .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}