---
export interface Props {
  textoBtn?: string;
  classesBtn?: string;
  fontAwesome?: string;
}

const { textoBtn = "", classesBtn = "", fontAwesome = "" } = Astro.props;
---

<span class={classesBtn}>
  {textoBtn}
  <i class={fontAwesome}></i>
</span>
