---
import TextosHistoria from "../../../components/TextosHistoria.astro";
---

<!-- Historia Don Cagazo-->
<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#Madura"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>
<TextosHistoria
  IdHistoria="LaMadura"
  IdHref="#LaMadura"
  Fecha="30 Junio 2024"
  Titulo="La Madura"
  Cita="Hola a todos, espero se encuentren muy bien, lo primero que quiero comentar es que soy una mujer de edad avanzada, disfrutando gracias a Dios de mi jubilación, viuda hace más de 8 años, con hijos, nueras y nietos que me acompañan y alegran en esta etapa de mi vida"
  Autor="Anónim@"
  Texto={`
Entiendo debo presentarme, y para ello, me hare llamar Mujer Madura, tengo mas de sesenta años, y mi historia, o secreto es desde hace muy poco, pero la verdad que nunca lo he compartido y jamás lo habría pensado en confesar anónimamente, pero me gusta la idea de expresarme por este medio, no sabía que podría o tenía la habilidad de redactar algo, me entretiene y a la vez me da una sensación de nerviosismo, pero también un dejo de placer.<br/><br/>
Como les comentaba anteriormente, quede viuda hace muchos años y nunca imagine que me ocurriría a mí, siempre estuve muy enamorada de mi marido que en paz descanse y creo que hasta la fecha lo sigo estando. Mantuvimos una relación bien bonita, fuimos construyendo una hermosa familia, una vida tranquila, de esfuerzo como todos, pero gozamos de un buen pasar producto de que mi esposo desempañaba un trabajo que le permitía percibir ingresos que cubrían sin problemas todos nuestros gastos.  Recuerdo muy bien cuando el partió, algo muy inesperado, para lo que nadie esta preparado, sufrimos mucho como familia y hasta el día de hoy le guardo respeto y fidelidad, jamás he pensado en tener una nueva pareja y menos rehacer mi vida, creo que los espacios están llenos con mis hijos y nietos.<br/><br/>
Trato de llevar una vejez bien alegre y un poco alocada, a pesar de que vengo de una familia bien conservadora, pero la compañía de mis nueras, familiares, nietas y sus amigas, me han permitido dar cuenta que el mundo ha cambiado bastante, la cultura ha ido evolucionando y los tiempos de hoy se alejan cada vez mas de lo que alguna vez fuimos. Esto lo comento como introducción a lo que es ese secretito que guardo muy bien, y que con mucha vergüenza les compartiré.<br/><br/>
En un evento o celebración en la que participe, se habló mucho de las personas que quedábamos solas a temprana edad, de las actividades que desarrollamos, como nos entretenemos y como volvemos a pasarlo bien desde el punto de vista sexual, yo solo escuchaba, no tenia mucho que aportar, y alguien por ahí menciono algo de los juguetes sexuales, cuestión que para mi era totalmente desconocido, pero me di cuenta luego al empezar a profundizar en el tema, que era algo muy normal para las nuevas generaciones, que era como una alternativa para auto complacerse , me llamo mucho la atención, para que les voy a mentir.  Llegué a mi casa después de esa fiesta, y me puse a navegar en mi celular, “Tipos de Juguetes Sexuales” …. Casi me fui de espalda con lo que apareció en mi celular, pensé que en cualquier minuto salía uno por esa pequeña pantalla, y me daba de frentón en la cara, no sabia como hacerlo desaparecer, y hoy debo tener un cuidado único, porque mis nietos juegan con mi teléfono y de pronto vuelven a aparecer estas cositas, me da pavor pedirles a mis hijos que le hagan algo como una limpieza, me muero de vergüenza.<br/><br/>
De pronto, un día me levanto muy temprano, recuerdo que debía ir a realizar unos tramites bancarios o notariales, o algo así, una vez me desocupo pasé por unas galerías y sin saber, me choco con una tienda que no sabía que existía, pero ahí estaba, se llamaba Sex-shop y algo mas … me detuve a mirar, bueno observé antes para todos lados por si algún conocido me veía, pero nada, vitrinee un poco y me di cuenta de que había una chica sola atendiendo, así que me arme de valor e ingrese.  Oye Sali de ahí, con un juguete en mi cartera, la que llevaba poco menos abrazada, me imagina que se podría arrancar, como si tuviera vida propia, era gigante.  <br/><br/>Llegue a mi casa, lo saco de la cartera, lo saco de la bolsa, y lo escondí por unos meses, pasaba por ese lugar, se me venía a la retina, pero no era capaz de sacarlo ni mirarlo de nuevo, es como que, si estaba siendo infiel a mi difunto esposo, parecía una loca, pero me costaba ese proceso. Hasta que un día, me visitaron unas amigas, nos tomamos unos tragos, comimos algo, reímos, recuerdos que se yo, ya era tarde, era el momento de que todas se retiraran.  Yo vivo sola, entonces estaba yo , mi mascota y mi juguete, no se imaginan, los vinitos, el chocolate, me dieron la valentía de ir por ese morenazo, lo saque, como pude le instale las pilas, nos fuimos a la cama, la imaginación y recuerdos llegaron en un buen momento para ayudar a facilitar la entrada y debut de este nuevo mejor amigo, créanme que hace muchos años que no me sentía muy bien, creo incluso que si hablara me pediría descanso, no me dejo de bajar de él, para quienes tengan una vida similar a la mía, no duden en atreverse.<br/><br/>
Los dejo, un gusto y espero les haya gustado mi secretito que llevo hasta mi reencuentro con mi difunto amor de la vida.<br/><br/>Saludos 

`}
/>
