---
import Layout from "../layouts/Layout.astro";
import { AstroSeo } from "@astrolib/seo";
import SliderConfesiones from "../components/Sliders/sliderConfesiones.jsx";
import "../components/Sliders/sliderConfesiones.css";
import EstaDisticas from "../components/estaDisticas.astro";
import PreLoader from "../components/PreLoader.astro";
import Hero from "../components/Heros/Hero.astro";
import Marquee from "../components/marQuee.astro";
import Faq from "../components/Faq.astro";
import CtaPublicar from "../components/Cta/ctaPublicar.astro";
import VideoPopup from "../components/Popups/videoPopup.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <AstroSeo
      title="La cripta de las confesiones"
      description="Libérate y cuenta tu secreto que ha nadie le contarías"
      canonical="https://www.hastalatumba.cl/"
      openGraph={{
        url: "https://www.hastalatumba.cl/",
        type: "website",
        title: "La cripta de las confesiones",
        description: "Libérate y cuenta tu secreto que ha nadie le contarías",
        images: [
          {
            url: "https://www.hastalatumba.cl/OgImage.webp",
            width: 1240,
            height: 630,
            alt: "Libérate y cuenta tu secreto que ha nadie le contarías",
            type: "image/webp",
          },
        ],
        site_name: "Hasta La Tumba",
      }}
      twitter={{
        handle: "@handle",
        site: "@site",
        cardType: "summary_large_image",
      }}
    />
    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "",
            "item": "www.hastalatumba.cl"
          }
        ]
      }
    </script>
  </head>

  <Layout title="">
    <main>
      <PreLoader
        preloaderText="Confiésate y lleva tu secreto Hastalatumba..."
      />
      <Hero
        h1Text="Cuéntanos Tu Secreto...."
        h1Classes="text-5xl md:text-6xl lg:text-8xl xl:text-9x1 font-bold text-white mb-5"
        h2Text="¡Descubre el Secreto Mejor Guardado! Comparte tus Confesiones de Lujuria y Pasión en Total Anonimato "
        h2Classes="tracking-tight text-base sm:text-base md:text-2xl lg:text-2xl xl:text-3x1 text-slate-200 font-light"
        sectionClasses="bg-[url('/Imagenes/fonDos/herohome.webp')] h-[900px] w-full bg-fixed bg-cover "
        overlayClasses=" inset-0 bg-black opacity-60 h-[900px] w-full"
        containerClasses="absolute inset-0 flex flex-col justify-center md:ml-16 ml-5 md:w-[650px] w-[400px] "
        fontAwesome="fas fa-lock"
        spanClasses="border-md bg-red-900 inline-block w-[210px]  my-3 p-4 font-bold text-base sm:text-2xl md:text-3xl lg:text-base "
        ctaText="Déjanos Tu Historia"
      />
      <EstaDisticas />

      <SliderConfesiones client:load />
      <Marquee />
      <Faq />
      <VideoPopup />
      <CtaPublicar
        tituloCta="Comparte en nuestro sitio tus secretos más profundos y protégelos para siempre. La libertad de ser anónimo te espera."
        classesTituloCta="tracking-tight  text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-8x1 font-bold"
      />
    </main>
  </Layout>


</html>
