---
import Layout from "../layouts/Layout.astro";
import { AstroSeo } from "@astrolib/seo";

import PreLoader from "../components/PreLoader.astro";
import HeroHistorias from "../components/Heros/HeroHistorias.astro";
import Marquee from "../components/marQuee.astro";

import CtaPublicar from "../components/Cta/ctaPublicar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- -<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
    <meta
      name="keywords"
      content="confesiones anónimas, compartir secretos, secretos anónimos, confesiones online, Hasta la Tumba"
    />

    <meta name="generator" content={Astro.generator} />

    <AstroSeo
      title="Confesiones Anónimas - Comparte tus Secretos de Forma Segura"
      description="Descubre y comparte confesiones anónimas de forma segura en HastalaTumba. Únete a nuestra comunidad global y encuentra apoyo y empatía"
      canonical="https://www.hastalatumba.cl/"
      openGraph={{
        url: "https://www.hastalatumba.cl/",
        type: "website",
        title: "Confesiones Anónimas - Comparte tus Secretos de Forma Segura",
        description:
          "Confiesa tus secretos más profundos de forma anónima y segura. Lee confesiones de otros y comparte tus experiencias en nuestra plataforma.",
        images: [
          {
            url: "https://www.hastalatumba.cl/OgImage.webp",
            width: 1240,
            height: 630,
            alt: "Libérate y cuenta tu secreto que ha nadie le contarías",
            type: "image/webp",
          },
        ],
        site_name: "Hasta La Tumba",
      }}
      twitter={{
        handle: "@handle",
        site: "@site",
        cardType: "summary_large_image",
      }}
    />
    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "",
            "item": "www.hastalatumba.cl"
          }
        ]
      }
    </script>
  </head>

  <Layout title="">
    <main>
      <PreLoader preloaderText="¿Que es Hastalatumba?" />
      <HeroHistorias
        sectionClasses="bg-[url('/Imagenes/fonDos/herohome.webp')] h-screen w-full bg-cover flex justify-center items-center flex-col bg-fixed "
        overlayClasses=" absolute inset-0 bg-black opacity-70 h-screen w-full "
        h1Text="¿Que es Hastalatumba?"
        h1Classes="text-white font-black tracking-tight text-5xl sm:text-5xl md:text-7xl lg:text-7xl xl:text-8x1 text-center filter blur-[3px] contrast-[120%] w-[80%]"
        HomeLink="/"
        NombreHomeLink="Purgatorio"
        tituloSeccion="¿Que es Hastalatumba?"
        arrow="-"
      />
      <div class="absolute bottom-3 w-full flex justify-center z-10">
        <a
          href="#que-es"
          class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
          ><i class="fas fa-angle-down"></i></a
        >
      </div>

      <div id="que-es"></div>
      <Marquee />

      <CtaPublicar
        tituloCta="Comparte en nuestro sitio tus secretos más profundos y protégelos para siempre. La libertad de ser anónimo te espera."
        classesTituloCta="tracking-tight  text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-8x1 font-bold"
      />
    </main>
  </Layout>


</html>
