---
import TextosHistoria from "../../../components/TextosHistoria.astro";
---

<!-- La Colegiala -->
<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#ElBisagra"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>

<TextosHistoria
  IdHistoria="ElBisaggra"
  IdHref="#ElBisaggra"
  Fecha="27 Junio 2024"
  Titulo="El Bisagra"
  Cita="Hola, espero estén todos bien amigos y amigas de hasta la tumba, yo soy el Bisagra, y mi historia es de hace muchos años atrás, incluso ya no vivo en esa ciudad en donde la viví, pero a la fecha me genera ruido y jamás la había compartido."
  Autor="Anónim@"
  Texto={`
 Era una noche en la que me encontraba solo en mi casa, tenía alrededor de 28 años y justamente ese día no quise salir de rumba con los amigos. Era tarde, si bien tenía todas las luces apagadas, aun no me quedaba dormido y de pronto comencé a escuchar ruidos, recuerdo me levante a mirar por la ventana y vi a un vecino que estaba en plena calle discutiendo con otro hombre, eran mayores que yo, y no entendía que ocurría, pero ahí estaban hablando muy fuerte, me quede por un buen rato mirando y tratando de entender que pasaba y de repente se inicia una pelea entre ellos, vi que a mi vecino lo empujaron, cae al suelo, se levanta rápidamente y le vuelven a pegar con un palo, cae otra vez, se le van encima y le deben haber llegado buenos combos y patadas. No sabía qué hacer en ese minuto, si salir en apoyo, o no y tampoco atine a llamar a carabineros, estaba como asustado  a pesar que ya no era un niño, pasaba el rato y hasta que aparece otro vecino a calmar la situación y en auxilio a nuestro vecino, donde finalmente se calmó todo y el agresor u otro involucrado se retira.<br/><br/>
 Después de todo lo ocurrido me fui a la cama, un tanto nervioso pero finalmente me dormí, al día siguiente si bien escuche algunos rumores, me tenía que hacer el leso, como que no escuche y vi nada, pero yo sabía que era lo que había ocurrido y sabía que no hice nada.<br/><br/>
 Desde ese día que aún me cuestiono y jamás nunca lo converse con nadie por vergüenza y  por qué fui un cobarde.<br/><br/>
 Gracias por permitir que pueda compartir y liberar esta situación que al día de hoy me consume bastante energía.<br/><br/>
 Saludos!`}
/>
