<div
  class="fixed bottom-0 right-0 flex items-center justify-center py-4 z-50 mx-4"
  id="cookie-container"
>
  <div class="container">
    <div
      class="flex flex-wrap items-center justify-between bg-black p-4 rounded-md backdrop-filter backdrop-blur bg-opacity-20"
    >
      <div class="w-full md:w-7/12 lg:w-2/3 flex items-center px-2">
        <span class="text-red-500 mr-4">
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="30"
            width="30"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
            ></path>
          </svg>
        </span>
        <div class="mb-6 md:mb-0">
          <h3 class="text-lg font-bold capitalize">Usamos Cookies</h3>
          <p class="text-sm font-medium text-body-color">
            Acepta nuestras cookies para una mejor experiencia.
          </p>
        </div>
      </div>
      <div class="w-full md:w-5/12 lg:w-1/3 w-3/3">
        <div class="flex items-center space-x-3 justify-end">
          <button
            class="button bg-black hover:bg-slate-800 text-white rounded h-11 px-8 py-2"
            id="accept-btn"
            aria-label="Aceptar"
          >
            Aceptar
          </button>
          <button
            id="close-cookie-btn"
            class="bg-gray-600 p-3 rounded h-11 px-8 py-2 text-white"
          >
            Rechazar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cookieContainer = document.getElementById("cookie-container");
    const acceptBtn = document.getElementById("accept-btn");
    const closeCookieBtn = document.getElementById("close-cookie-btn");

    if (cookieContainer && acceptBtn && closeCookieBtn) {
      if (!sessionStorage.getItem("cookiesAccepted")) {
        cookieContainer.classList.remove("hidden");
      }

      acceptBtn.addEventListener("click", () => {
        cookieContainer.classList.add("hidden");
        sessionStorage.setItem("cookiesAccepted", "true");
      });

      closeCookieBtn.addEventListener("click", () => {
        cookieContainer.classList.add("hidden");
      });
    }
  });
</script>
