<section id="contacto" class="px-2 py-10">
  <div
    class="mx-auto max-w-xl flex flex-col items-center justify-center text-center"
  >
    <h1
      class="text-center text-4xl lg:text-5xl font-bold font-heading mb-6 max-w-md mx-auto"
    >
      Hablémos
    </h1>
    <p class="mt-3 text-md text-gray-100">¿En que te podemos ayudar?</p>
  </div>
  <form
    class="mx-auto max-w-xl"
    action="https://www.rvrconstrucciones.cl/form/form.php"
    method="post"
  >
    <div class="mb-4">
      <label class="block text-white font-bold mb-2" for="name">Nombre</label>
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nombre"
        type="text"
        placeholder="Enter your name"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2" for="email">Email</label>
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2" for="email">Teléfono</label
      >
      <input
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="telefono"
        type="number"
        placeholder="Teléfono"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-white font-bold mb-2" for="message"
        >Mensaje</label
      >
      <textarea
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="mensaje"
        rows="6"
        placeholder="Enter your message"
        required></textarea>
    </div>
    <div class="flex justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Enviar
      </button>
    </div>
  </form>
</section>
