---

---

<section
  id="estadisticas"
  class="relative flex justify-center -mt-20 px-2 sm:px-4"
>
  <div
    class="grid grid-cols-2 gap-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 p-20 bg-stone-950 rounded-lg"
  >
    <div class="flex justify-center flex-col">
      <h2 class="tracking-tight text-xl
     font-bold">Confiésate</h2>
      <h3 class="text-xxl">Pero mantén tus secretos ocultos</h3>
    </div>
    <div class="flex flex-col items-center justify-center">
      <span class="tracking-tight text-xl
      font-bold">14</span>
      <p class="font-light text-xl text-center">Historias</p>
    </div>
  </div>
</section>
