<section id="estadisticas" class="relative flex justify-center -mt-20">
  <div
    class="grid grid-cols-1 gap-10 pt-14 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 p-10 bg-neutral-900 rounded-lg"
  >
    <div>
      <h2>Confiesate</h2>
      <h3>Pero manten lalalalal</h3>
    </div>
    <div>1 historia nueva</div>
    <div>14 historias nueva</div>
  </div>
</section>
