---
import AccordionFaq from "./accordionns/accordionFaq.astro";
---

<section class="p-4 py-24 max-w-6xl mx-auto flex flex-col md:flex-row gap-12">
  <div class="flex flex-col text-left basis-1/2">
    <h3 class="inline-block font-semibold text-primary mb-4">FAQ</h3>
    <h3 class="text-4xl md:text-6xl lg:text-9x1 font-bold text-base-content">
      Preguntas y Respuestas
    </h3>
  </div>
  <ul class="basis-1/2">
    <AccordionFaq
      pregunta="¿Cómo puedo compartir mi historia?"
      respuesta="Envía tu historia a historias@hastalatumba.cl"
    />
    <AccordionFaq
      pregunta="¿De que se trata hlt?"
      respuesta="Este sitio web es una plataforma diseñada para permitir que las personas compartan sus experiencias, pensamientos o sentimientos de forma totalmente anónima y confidencial."
    />
    <AccordionFaq
      pregunta="¿Cómo funciona la anonimidad en este sitio?"
      respuesta="Garantizamos el anonimato absoluto al no requerir ningún tipo de información personal identificable. No es necesario proporcionar nombre, correo electrónico ni ningún otro dato personal."
    />
    <AccordionFaq
      pregunta="¿Qué tipo de cosas puedo compartir en este sitio?"
      respuesta="Puedes compartir cualquier cosa que desees, como historias personales, desafíos que enfrentas, reflexiones, o simplemente expresar tus pensamientos sin preocuparte por revelar tu identidad."
    />
  </ul>
</section>
