---
//Footer
---

<section class="text-center mt-40" id="footer">
  <a
    href="#"
    class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900"
  >
    <img
      src="https://www.svgrepo.com/show/499962/music.svg"
      class="h-12"
      alt="Landwind Logo"
    />
  </a>
  <h3 class="my-3">HastalaTumba.cl</h3>

  <h4 class="text-gray-500 text-lg mt-2">
    Comparte en nuestro sitio tus secretos más profundos y protégelos para
    siempre. La libertad de ser anónimo te espera.
  </h4>
  <h4 class="mt-6 text-lg text-slate-400">
    Síguenos en nuestras redes sociales
  </h4>

  <div class="flex justify-center gap-6 my-3">
    <a href=""
      ><i
        class="fab fa-tiktok text-white border-2 border-white hover:border-yellow-300 hover:text-yellow-300 rounded-full font-bold p-2 text-2xl"
      ></i></a
    >
    <a href="">
      <i
        class="fab fa-youtube text-white border-2 border-white hover:border-yellow-300 hover:text-yellow-300 rounded-full font-bold p-2 text-2xl"
      ></i>
    </a>
    <a href="">
      <i
        class="fab fa-facebook text-white border-2 border-white hover:border-yellow-300 hover:text-yellow-300 rounded-full font-bold p-2 text-2xl"
      ></i>
    </a>
    <a href="">
      <i
        class="fab fa-instagram text-white border-2 border-white hover:border-yellow-300 hover:text-yellow-300 rounded-full font-bold p-2 text-2xl"
      ></i>
    </a>
  </div>

  <h4 class="text-gray-500 text-lg mb-7">
    Hecho con <i class="fas fa-heart text-red-400"></i> desde Concepción
  </h4>
  <p class="block text-lg text-center">© 2024 All Rights Reserved.</p>

  <p class="block text-center text-lg">
    Desarrollo por <a
      href="https://wwww.jrami.cl"
      class="text-blue-300 hover:underline">jrami.cl</a
    >
  </p>
</section>
