---

---

<section id="footer" class="bg-slate-900 pt-8 text-white bottom-0">
  <footer class="mx-auto w-full relative">
    <div class="flex items-center justify-center">
      <img
        src="/Imagenes/Logos/logo.webp"
        alt=""
        class="max-w-[120px] max-sm:w-[80px] h-auto"
        loading="lazy"
      />
    </div>

    <div class="px-6 py-2 md:py-2 text-center">
      <h2 class="font- text-3xl lg:text-2xl leading-snug">
        Deja en nuestras manos<br />tu próximo proyecto.
      </h2>

      <nav
        class="flex flex-wrap justify-center text-md font-medium gap-10 mt-10"
      >
        <a href="https://www.rvrconstrucciones.cl">Inicio</a>
        <a href="https://www.rvrconstrucciones.cl/nuestra-empresa">Nosotros</a>
        <a href="https://www.rvrconstrucciones.cl/#faq">Preguntas Frecuentes</a>
        <a href="https://www.rvrconstrucciones.cl/#servicios">Servicios</a>
        <a href="https://www.rvrconstrucciones.cl/#contacto">Contáctanoss</a>
      </nav>

      <p class="mt-7 text-base">© 2024 RVR Ingeniería Y Construcciones SPA</p>
    </div>
  </footer>
</section>
