---
//Footer
import RedesSociales from "./RedesSociales.astro";
---

<section class="text-center mt-40" id="footer">
  <a
    href="#"
    class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900"
  >
    <img
      src="/Imagenes/Logos/Logo-hasta-la-tumba-comparte-tus-confesiones.webp"
      class="h-24 lg:h-48 md:h-36"
      alt="Logo De HastalaTumba"
      title="Holaa"
    />
  </a>
  <h3 class="my-3">HastalaTumba.cl</h3>

  <h4 class="text-gray-500 text-lg mt-2">
    Comparte en nuestro sitio tus secretos más profundos y protégelos para
    siempre. La libertad de ser anónimo te espera.
  </h4>

  <RedesSociales />

  <h4 class="text-gray-500 text-lg mb-7">
    Hecho con <i class="fas fa-heart text-red-400"></i> desde Concepción
  </h4>
  <p class="block text-lg text-center">© 2024 All Rights Reserved.</p>

  <p class="block text-center text-lg">
    Desarrollo por <a
      href="https://wwww.jrami.cl"
      class="text-yellow-400 hover:underline">jrami.cl</a
    >
  </p>
</section>
