---
import TarjetaHistorias from "./Tarjetas/tarjetaHistorias.astro";
---

<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#Historias"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>
<section class="py-5 px-4 lg:px-20" id="Historias">
  <div class="flex flex-wrap">
    <div class="w-full md:w-2/3">
      <div
        class="grid grid-cols-1 gap-4 pt-14 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2"
      >
        <TarjetaHistorias
          Titulo="El Bisagra"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola, espero estén todos bien amigos y amigas de hasta la tumba, yo soy el Bisagra, y mi historia es de hace muchos años atrás, incluso ya no vivo en esa ciudad en donde la viví, pero a la fecha me genera ruido y jamás la había compartido."
          alt=""
          title="lalalaall"
          url="/historias/el-bisagra"
        />
        <TarjetaHistorias
          Titulo="La Colegiala"
          imagen="/Imagenes/fonDos/heromujer.webp"
          Descripcion="Bueno hoy ya estoy casada, con hijos y ya no soy una lokilla, pero en esos años de colegio la verdad que era bastante mas atrevida, recuerdo mi primer pololeo fue en primero medio, que duro alrededor de cinco años, una relación bonita pero el era un poco lento, no era tan osado como me hubiese gustado que fuera. Si bien fue mi primer pololo, pero no mi primer hombre, anterior a ese pololito probe bastante, mi mama siempre me decía, pásalo bien, pero con responsabilidad, así que siempre le hice caso, por lo mismo tenia algo de experiencia al salir de la media."
          alt=""
          title="lalalaall"
          url="/historias/la-colegiala"
        />
        <TarjetaHistorias
          Titulo="Flor De Hermano"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola, me dicen Flor de Hermano, y mi secreto es una locura que en vida jamás se la contare a nadie.  Bueno vengo de una familia de pocos integrantes, mi padre falleció cuando yo era chico y me crie con mi madre y mi hermana un par de años menor que yo.  Tuvimos una infancia un poco dura por la falta de mi padre, pero teníamos una buena red de apoyo, por parte del resto de la familia, por ambas familias, es decir, de madre y padre, nunca nos falto nada a pesar de que a mi viejita le toco sacrificarse bastante por nosotros."
          alt=""
          title="lalalaall"
          url="/historias/flor-de-hermano"
        />
        <TarjetaHistorias
          Titulo="Flor Sin Pétalos"
          imagen="/Imagenes/fonDos/heromujer.webp"
          Descripcion="Buenas chiquillos , espero se encuentren bien, mi nombre es Flor sin Pétalos, y me hare llamar así porque cuando me cruce con este nuevo sitio, lo primero que imagine, esto es como una plataforma de confesiones sexuales, pero luego fui revisando mas publicaciones , más información que me sirvió para entender que no era lo que imaginaba, si no que un espacio para liberar aquellas experiencias sean buenas, no tan buenas y malas, que en vida no podrías compartirlas con nadie, fue ahí cuando me puse a navegar en mi interior , chocando con una historia de vida que nunca he hablado de ello, por temor, por miedo , por vergüenza, o simplemente porque en su minuto decidido enterrarlo."
          alt=""
          title="lalalaall"
          url="/historias/flor-sin-petalos"
        />
        <TarjetaHistorias
          Titulo="El Hijo Único"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola, soy “Hijo Único”, nací, crecí, me eduqué dentro de un hogar muy conservador, padres adultos, que la verdad desconozco si dentro de sus planes estuve presente, o fui un descuido, eso podría ser la gran confesión de ellos, pero vengo a relatar mi gran secreto."
          alt=""
          title="lalalaall"
          url="/historias/el-hijo-unico"
        />
        <TarjetaHistorias
          Titulo="Don Cagazo"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola, chic@s, espero todos y todas estén muy bien, lo primero que me gustaría decir es que las cagueee…. Y las sigo cagando, no sé por dónde empezar, tratare de no aburrirlos, pero es difícil para mí escribir, estructurar una metida de pata hasta el fondo, una cagada descomunal, que en la vida no se la podría compartir a nadie. Bueno mi nombre es Don Cagazo, me autodenomino así porque me he pegado muchos condoros en la vida, pero uno de ellos y que me consume mucha energía, me quita el sueño, es esto que les voy a liberar."
          alt=""
          title="lalalaall"
          url="/historias/don-cagazo"
        />
        <TarjetaHistorias
          Titulo="El Sapo De Nonita"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola a todos los pertenecientes al famoso club de llorones , oye un agrado de poder contarles una de mis historias ocultas que me llevaba hasta mi muerte, hasta que apareció este sitio fantástico para poder echar afuera y poder volver a recordar e ir disfrutando mientras les relato, ya que para mí este secretito fue una experiencia de aquellas. Lo primero que quería mencionar, es que la vez que vi una publicación de esta plataforma, la verdad no pesque mucho, luego de visualizar otros videos y flyer publicitarios comprendí un poco de que se trataba, lo comentamos recuerdo bien, con un amigote de esos de carrete, pero que ni cagando le puedo confesar nada de esto, si se supiera queda la embarra familiar. Bueno les decía que al entender que efectivamente hay experiencias que todos tenemos y que en vida no las podríamos compartir, es que me anime a liberar una de las mías, que espero la encuentren entretenida."
          alt=""
          title="lalalaall"
          url="/historias/el-sapo-de-nonita"
        />
        <TarjetaHistorias
          Titulo="El Desleal"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="HHola a todos, a todas, espero que el club de llorones, más que enjuiciarme, me lean y entiendan que mi historia esta basada en un hecho que ocurrió sin el afán de hacer daño, pero siendo super sincero, llevo mucho tiempo con esto guardado y me hace mal tenerlo, me hace mal cargarlo porque lo que paso fue una inmadurez y jamás con una mal intención."
          alt=""
          title="lalalaall"
          url="/historias/el-desleal"
        />
        <TarjetaHistorias
          Titulo="El Fugitivo"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Quise partir con esta pequeña introducción, por que quiero liberar una historia que jamás la he compartido con nadie, básicamente por vergüenza más que otra cosa. En los inicios de esa etapa bonita de estudios superiores, en donde empiezas a descubrir muchas cosas, por lo menos en mi caso, dado que siempre fui muy tranquilo, entonces entré en una suerte de submundo, donde los estudios estaban complementados con muchas fiestas, mucho trago, discotecas, y muchas otras cosas más. Entonces en mi segundo o tercer año de carrera, conocí una chica muy linda, coincidíamos una sola vez a la semana, con un ramo en particular, por lo mismo para mí era muy difícil llegar a ella, aun cuando trataba de acercarme en LA clase, yo era muy tranquilo y extra-tímido, la mezcla perfecta para mantener mi soltería universitaria, comprenderán la tarea titánica para conquistar."
          alt=""
          title="lalalaall"
          url="/historias/el-fugitivo"
        />
        <TarjetaHistorias
          Titulo="La Madura"
          imagen="/Imagenes/fonDos/heromujer.webp"
          Descripcion="Entiendo debo presentarme, y para ello, me hare llamar Mujer Madura, tengo mas de sesenta años, y mi historia, o secreto es desde hace muy poco, pero la verdad que nunca lo he compartido y jamás lo habría pensado en confesar anónimamente, pero me gusta la idea de expresarme por este medio, no sabía que podría o tenía la habilidad de redactar algo, me entretiene y a la vez me da una sensación de nerviosismo, pero también un dejo de placer."
          alt=""
          title="lalalaall"
          url="/historias/la-madura"
        />
        <TarjetaHistorias
          Titulo="Juliana"
          imagen="/Imagenes/fonDos/heromujer.webp"
          Descripcion="Hola amigos  y amigas del club de llorones, pedí que simulen mi muerte en este nuevo portal, a pesar que es una experiencia surrealista,  la encuentro muy entrete, porque además de permitir que pueda comentar esta historia que en vida no se la contaría ni a mi madre, podré leer vuestros comentarios u opiniones y de alguna forma me sentiré liberada , porque será lo mimo que contarlo en vida a mis amistades pero sin que sepan quién soy jaja, un poco enredado pero ya estoy sintiendo varias emociones  que cuestan explicar."
          alt=""
          title="lalalaall"
          url="/historias/juliana"
        />
        <TarjetaHistorias
          Titulo="Proyecto De Popular"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola a todos y todas las integrantes de esta nueva comunidad, mi nombre es “Proyecto de Popular”, y me hago llamar así, porque les quiero compartir un secreto que jamás se lo he comentado a nadie, porque la verdad ocurrió hace muchos años atrás, y créanme que me da mucha vergüenza desempolvar esta experiencia, además era un pendejo que se las creía todas."
          alt=""
          title="lalalaall"
          url="/historias/proyecto-de-popular"
        />
        <TarjetaHistorias
          Titulo="La Volteretas"
          imagen="/Imagenes/fonDos/heromujer.webp"
          Descripcion="Buenas tardes, chicos tengo un poco mas de 20 años, soy una joven de pueblo, y en esta oportunidad me hare llamar “La Voltereta”, a continuación, les voy a compartir un secreto o recuerdo que lamentablemente siempre lo tengo presente y me da mucha pena cuando regresa a mí, quisiera sepultarlo para siempre, espero por lo mismo liberarlo y que nunca mas regrese, aun cuando sea anónimamente, ya que en vida jamás lo compartiré con nadie"
          alt=""
          title="lalalaall"
          url="/historias/la-volteretas"
        />
        <TarjetaHistorias
          Titulo="Sangre En Cubierto"
          imagen="/Imagenes/fonDos/herohombre.webp"
          Descripcion="Hola a todos y todas las integrantes del club de llorones, lo primero es comentarles que estoy muy nervioso o más bien siento un poco de euforia,  esta confesión para mí es muy difícil de tan solo recordarla, es algo que en algún  minuto de la vida decidí enterrarla por la sencilla razón de que en vida nunca jamás podré compartirla ni con mi mejor amigo, pero acá estoy, redactando eso que había pensado haber olvidado, pero silenciosamente me ha venido haciendo daño, y espero sinceramente poder liberarlo y descansar."
          alt=""
          title="lalalaall"
          url="/historias/sangre-en-cubierto"
        />
      </div>
    </div>
    <div class="w-full md:w-1/3 p-4">
      <div class="justify-center flex">
        <img
          src="https://hastalatumba.zona8.cl/mausoleo-de-historias/la-mujer-era-un-lobo/imagenes/autor.webp"
          class="rounded-full"
        />
      </div>
      <p class="text-center">
        Descubre el Secreto Mejor Guardado! Comparte tus Confesiones de Lujuria
        y Pasión en Total Anonimato
      </p>
    </div>
  </div>
</section>
