---
import Breadcrumb from "./breadcrumb.astro";
---

<section class="bg-white px-2 py-10" id="nosostros">
  <Breadcrumb
    link_home="https://www.rvrconstrucciones.cl"
    seccion_actual="Nosotros"
    link_seccion_actual="https://www.rvrconstrucciones.cl/proyectos-de-urbanizacion"
    iconClass="fas fa-house"
    additionalClasses=" px-20 inline-flex items-center font-medium text-gray-700"
  />

  <div class="text-center">
    <h1 class="font-bold break-normal text-3xl md:text-5xl text-black">
      Rvr Construcciónes
    </h1>
  </div>

  <!--image-->

  <!--Container-->
  <div class="container max-w-5xl mx-auto">
    <div class="mx-0 sm:mx-6">
      <div
        class="bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal"
        style="font-family:Georgia,serif;"
      >
        <!--Post Content-->

        <!--Lead Para-->

        <p class="py-6">
          Somos una Constructora dedicada al Servicio de Ingeniería,
          Construcción y Mantenimiento de Infraestructura, cuya misión es
          suministrar atención integral a nuestros clientes mediante el
          Gerenciamiento y Ejecución de Proyectos en el sector Público y
          Privado, Industrias y Retail. Damos cumplimiento a los estándares de
          calidad y seguridad, y nos esmeramos en asegurar la rentabilidad
          programada para cada una de las tareas encomendadas.
        </p>

        <p class="py-6">
          Aspiramos a ser una empresa de Construcción y Mantención referente a
          nivel regional, brindando un servicio de excelencia, rapidez y
          eficiente a todos nuestros clientes.
        </p>
      </div>
    </div>
  </div>
</section>
