---
// Prop para el texto del preloader
const text =
  Astro.props.text || "Confiésate y lleva tu secreto HastalaTumba...";
---

<script>
  // Ocultar el preloader después de 3 segundos
  setTimeout(() => {
    const preloader = document.getElementById("preloader");
    preloader?.classList.add("hidden");
  }, 3000);
</script>

<div
  id="preloader"
  class="fixed top-0 left-0 w-full flex justify-center items-center bg-black z-50 w-100 h-screen"
>
  <div
    class="bg-[url('/Imagenes/preLoader/smoke_layer_2.webp')] bg-cover absolute h-screen flex w-full animate-fade"
  >
  </div>
  <div
    class="bg-[url('/Imagenes/preLoader/smoke-bg.webp')] -z-10 bg-cover absolute h-screen flex w-full animate-fade"
  >
  </div>
  <h1
    class="text-white font-black tracking-tight text-5xl sm:text-4xl md:text-7xl lg:text-7xl xl:text-8x1 text-center filter blur-[3px] contrast-[120%]"
  >
    {text}
  </h1>
</div>
