<section id="services" class="px-2 py-10">
  <div class="max-w-5xl mx-auto">
    <!-- Heading start -->
    <header class="text-center mx-auto lg:px-20">
      <h2
        class="tracking-tight text-5xl sm:text-4xl md:text-6xl lg:text-6xl xl:text-8x1 font-bold"
      >
        ¿Por qué elegirnos?
      </h2>

      <p
        class="text-gray-500 leading-relaxed font-light text-xl mx-auto my-4 max-w-xl"
      >
        No vendemos un servicio, si no que vendemos la emoción de vivir la mejor
        experiencia
      </p>
    </header>
    <!-- End heading -->
    <!-- row -->
    <div
      class="max-w-5xl grid grid-cols-1 gap-4 pt-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
    >
      <div
        class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 rounded-md"
      >
        <div class="inline-block text-gray-900 mb-4">
          <!-- icon -->
          <svg
            width="80px"
            height="80px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#b4c007"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M15 7C15 8.65685 13.6569 10 12 10C10.3431 10 9 8.65685 9 7C9 5.34315 10.3431 4 12 4C13.6569 4 15 5.34315 15 7Z"
                stroke="green"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M10 16C10 17.6569 8.65685 19 7 19C5.34315 19 4 17.6569 4 16C4 14.3431 5.34315 13 7 13C8.65685 13 10 14.3431 10 16Z"
                stroke="green"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M20 16C20 17.6569 18.6569 19 17 19C15.3431 19 14 17.6569 14 16C14 14.3431 15.3431 13 17 13C18.6569 13 20 14.3431 20 16Z"
                stroke="green"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g></svg
          >
        </div>
        <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
          Responsabilidad
        </h3>
        <p class="text-gray-500">
          Nos aseguramos de cumplir las expectativas y necesidades en cada obra.
        </p>
      </div>
      <div
        class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 rounded-md"
      >
        <div class="inline-block text-gray-900 mb-4">
          <!-- icon -->
          <svg
            version="1.1"
            id="Icons"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 32 32"
            xml:space="preserve"
            width="80px"
            height="80px"
            fill="green"
            stroke="##fff"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <style type="text/css">
                .st0 {
                  fill: none;
                  stroke: green;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st1 {
                  fill: none;
                  stroke: green;
                  stroke-width: 2;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st2 {
                  fill: none;
                  stroke: green;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <polygon class="st0" points="20,21 7.9,13.7 11.4,4.1 29,14 "
              ></polygon>
              <polygon class="st0" points="4,20 7.9,13.7 13.9,17.4 "></polygon>
              <ellipse class="st0" cx="21" cy="26" rx="3" ry="3"></ellipse>
              <line class="st0" x1="6" y1="3" x2="10.3" y2="5.8"></line>
              <line class="st0" x1="21" y1="26" x2="20" y2="21"></line>
            </g></svg
          >
        </div>
        <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
          Materiales De Calidad
        </h3>
        <p class="text-gray-500">
          Empleamos siempre materiales de calidad, un servicio de primera y
          otorgamos garantía a cada uno de nuestros trabajos.
        </p>
      </div>
      <div
        class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
      >
        <div class="inline-block text-gray-900 mb-4">
          <!-- icon -->
          <svg
            height="80px"
            width="80px"
            version="1.1"
            id="_x32_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 512 512"
            xml:space="preserve"
            fill="#e1ff00"
            stroke="#e1ff00"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <style type="text/css">
                .st0 {
                  fill: green;
                }
              </style>
              <g>
                <path
                  class="st0"
                  d="M435.95,287.525c32.51,0,58.87-26.343,58.87-58.853c0-32.51-26.361-58.871-58.87-58.871 c-32.502,0-58.863,26.361-58.863,58.871C377.088,261.182,403.448,287.525,435.95,287.525z"
                ></path>
                <path
                  class="st0"
                  d="M511.327,344.251c-2.623-15.762-15.652-37.822-25.514-47.677c-1.299-1.306-7.105-1.608-8.673-0.636 c-11.99,7.374-26.074,11.714-41.19,11.714c-15.099,0-29.184-4.34-41.175-11.714c-1.575-0.972-7.373-0.67-8.672,0.636 c-2.757,2.757-5.765,6.427-8.698,10.683c7.935,14.94,14.228,30.81,16.499,44.476c2.27,13.7,1.533,26.67-2.138,38.494 c13.038,4.717,28.673,6.787,44.183,6.787C476.404,397.014,517.804,382.987,511.327,344.251z"
                ></path>
                <path
                  class="st0"
                  d="M254.487,262.691c52.687,0,95.403-42.716,95.403-95.402c0-52.67-42.716-95.386-95.403-95.386 c-52.678,0-95.378,42.716-95.378,95.386C159.109,219.975,201.808,262.691,254.487,262.691z"
                ></path>
                <path
                  class="st0"
                  d="M335.269,277.303c-2.07-2.061-11.471-2.588-14.027-1.006c-19.448,11.966-42.271,18.971-66.755,18.971 c-24.466,0-47.3-7.005-66.738-18.971c-2.555-1.583-11.956-1.055-14.026,1.006c-16.021,16.004-37.136,51.782-41.384,77.288 c-10.474,62.826,56.634,85.508,122.148,85.508c65.532,0,132.639-22.682,122.165-85.508 C372.404,329.085,351.289,293.307,335.269,277.303z"
                ></path>
                <path
                  class="st0"
                  d="M76.049,287.525c32.502,0,58.862-26.343,58.862-58.853c0-32.51-26.36-58.871-58.862-58.871 c-32.511,0-58.871,26.361-58.871,58.871C17.178,261.182,43.538,287.525,76.049,287.525z"
                ></path>
                <path
                  class="st0"
                  d="M115.094,351.733c2.414-14.353,9.225-31.253,17.764-46.88c-2.38-3.251-4.759-6.083-6.955-8.279 c-1.299-1.306-7.097-1.608-8.672-0.636c-11.991,7.374-26.076,11.714-41.182,11.714c-15.108,0-29.202-4.34-41.183-11.714 c-1.568-0.972-7.382-0.67-8.681,0.636c-9.887,9.854-22.882,31.915-25.514,47.677c-6.468,38.736,34.924,52.762,75.378,52.762 c14.437,0,29.016-1.777,41.459-5.84C113.587,379.108,112.757,365.835,115.094,351.733z"
                ></path>
              </g>
            </g></svg
          >
        </div>
        <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
          Trabajo En Equipo
        </h3>
        <p class="text-gray-500">
          Nuestros colaboradores comparten valores de probidad, integridad,
          puntualidad y trabajo en equipo.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>
