---
import TextosHistoria from "../../../components/TextosHistoria.astro";
---

<!-- Historia Don Cagazo-->
<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#DonCagazo"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>
<TextosHistoria
  IdHistoria="ElFugitivo"
  IdHref="#ElFugitivo"
  Fecha="30 Junio 2024"
  Titulo="El Fugitivo"
  Cita=" Hola buenas tardes, mi nombre es el fugitivo, soy un hombre de 50 y algo, casado, con hijos, tengo una vida bastante tranquila y jamás he sido bueno para los extremos, desde el punto de vista de las fiestas o carretes, vicios en general."
  Autor="Anónim@"
  Texto={`
    Quise partir con esta pequeña introducción, por que quiero liberar una historia que jamás la he compartido con nadie, básicamente por vergüenza más que otra cosa.  En los inicios de esa etapa bonita de estudios superiores, en donde empiezas a descubrir muchas cosas, por lo menos en mi caso, dado que siempre fui muy tranquilo, entonces entré en una suerte de submundo, donde los estudios estaban complementados con muchas fiestas, mucho trago, discotecas, y muchas otras cosas más.  Entonces en mi segundo o tercer año de carrera, conocí una chica muy linda, coincidíamos una sola vez a la semana, con un ramo en particular, por lo mismo para mí era muy difícil llegar a ella, aun cuando trataba de acercarme en LA clase, yo era muy tranquilo y extra-tímido, la mezcla perfecta para mantener mi soltería universitaria, comprenderán la tarea titánica para conquistar. <br/><br/>
    Tenia un amigo de estudios, un cabro extrovertido, canchero, no le costaba nada sociabilizar, bueno pal carrete, pero yo solo atinaba en los estudios con él, entonces no me quedaba de otra que pedirle su ayuda, para poder llegar a esa hermosa mujer que me traía loquito.  No tardó nada en organizar una junta posterior a las clases, yo no la podía creer, algo que me había costado meses, a este compañero le tardo solo unos minutos. <br/><br/>
    Cuento corto, nos fuimos a uno de esos bares, con patio, ella con una amiga, y nosotros dos, estaba todo perfecto, cervezas, cigarros, yo con suerte fumaba un poco, pero ahí estaba tratando de hacerme el lindo, conversamos un rato largo, las horas avanzaban, copete desfilaba y mucha risa, hasta que mi amigo dice con mucha alegría, quien se quiere fumar un porro natural ¿? Todavía no terminaba la pregunta y las dos femeninas saltan riendo y dicen yooo ¡!!!!!,  … cresta dije pa adentro, que hago¡!!  Con cuea yo fumaba cigarro, pero no quería quedar de fome, por lo que me aleoné y dije pongámosle.  Le puse algunas piteadas, tratando de mirar como se hacía, disimulando que no era mi primera vez, todos cagados de risa, hasta que el famoso pito se acabó, mi amigo se fumaba hasta las uñas, no le sabia esa, pero en fin ya estábamos todos en modo carcajadas. Regresamos a la mesa desde el patio y a seguir con la conquista, pero no alcance a tomar el vaso y me empecé a sentir medio raro, recuerdo que fui al baño, me miraba en un espejo o lo que quedaba de él, entre que me reía y me notaba raro, no se como explicarlo, echamos la corta, era un baño masivo y salí de ese desagradable olor a orina estancada por meses¡!!!!   Me dirijo nuevamente a la mesa, pero ya mis síntomas de rareza iban cuesta arriba, me sentía observado, me revise hasta el cierre del pantalón por si algo había quedado afuera, pero nada, me instale al costado de mi futura polola jajaja intentando pasar piola, lo más normal pero alegre posible, tratando de conectarme con la conversa, pero se me hacía cada vez más difícil, me quedaba pegado mirándole los aros, los veía como un hula hula, luego aterrizaba, miraba a mi alrededor,  según yo todos me observaban, fue ahí entonces que invento  un compromiso de última hora mirando mi celular y me fui, echando a tierra toda oportunidad de salir triunfador con esa hermosa compañera.
    <br/><br/>
    Chiquillos salgo del local y lo primero que veo fue a una pareja de carabineros, chucha ¡!! me puse
a correr por toda la ciudad, me calmaba a ratos, trataba de respirar y nuevamente veía más
Carabineros, seguía corriendo sin parar, no sé de donde salió tanto contingente policial, pero para
mi era lo peor, juraba que me estaban buscando por radio, por cielo, por tierra, una locura y yo
fondeado en las calles, locales, atrás de los árboles, de los postes, en galerías, hasta agachado al
costado de un grifo, super perseguido jajaja.

    <br/><br/>
    Realmente en ese momento era una gran pesadilla, pero que duro hasta llegar corriendo a mi
casa, con suerte, mis padres, no estaban, pude empezar a relajarme, no sabía si ir a pincharme al
doctor o tomar leche para que se me pasara el efecto, pero ahí seguía, escondido a salvo, pero
igual miraba por la venta si venían por mí los carabineros. Bueno no creo que sea algo tan terrible,
pero por vergüenza como dije anteriormente lo he cargado como un secreto que recién hoy lo
estoy liberando, a mi señora actual y mis hijos jamás se los podría compartir y con esa linda
compañera nunca paso nada cuek.
    <br/><br/>

    Saludos
`}
/>
