---
import TextosHistoria from "../../../components/TextosHistoria.astro";
---

<!-- La Colegiala -->
<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#LaColegiala"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>

<TextosHistoria
  IdHistoria="ElSapoDeNonita"
  IdHref="#ElSapoDeNonita"
  Fecha="27 Junio 2024"
  Titulo="El Sapo De Nonita"
  Cita="Hola a todos los pertenecientes al famoso club de llorones , oye un agrado de poder contarles una de mis historias ocultas que me llevaba hasta mi muerte, hasta que apareció este sitio fantástico "
  Autor="Anónim@"
  Texto={`
  BHola a todos los pertenecientes al famoso club de llorones , oye un agrado de poder contarles una de mis historias ocultas que me llevaba hasta mi muerte, hasta que apareció este sitio fantástico para poder echar afuera y poder volver a recordar e ir disfrutando mientras les relato, ya que para mí este secretito fue una experiencia de aquellas. Lo primero que quería mencionar, es  que la  vez que vi una publicación de esta plataforma, la verdad no pesque mucho, luego de visualizar otros videos y flyer publicitarios comprendí un poco de que se trataba, lo comentamos recuerdo bien, con un amigote de esos de carrete, pero que ni cagando le puedo confesar nada de esto, si se supiera queda la embarra familiar. Bueno les decía que al entender que efectivamente hay experiencias que todos tenemos y que en vida no las podríamos compartir, es que me anime a liberar una de las mías, que espero la encuentren entretenida.<br/><br/>
   
  En esta ocasión me pueden llamar “Sapo”, un mocoso de 13 o 14 años, entre los hermanos (varios) uno de los más grandes, de una familia un poco conservadora, mi padre de esos hombres de negocios que viste de terno toda la vida y mi madre no se quedaba atrás con su pinta, crecimos en un entorno acomodado, sin necesidades económicas, en buenos colegios, y la verdad teníamos de todo los que un niño quisiera, obvio esto gracias a los esfuerzos de nuestros padres, que no revelare tanto detalle para no salir pillado. Vivíamos en una hermosa ciudad de Chile, digo vivíamos porque en la medida que vamos independizándonos, algunos de mis hermanos van emigrando, entonces volvemos a esa linda casa, un gran patio, piscina, sala de estar tremenda, por ende cabe de cajón que teníamos una niña que ayudaba en los quehaceres del hogar , digo una niña, porque si no mal recuerdo, debió ser en ese tiempo unos 12 años mayor que yo , y era una chica muy linda , cariñosa con todos nosotros, atenta, y lo malo es que se iba todos los días a su hogar tipin 19 hrs, cuando digo malo, es por mí , porque dejaba de verla o estar cerca de ella.<br/><br/>
   
  En ese horario, en el que ella se iba, yo estaba siempre en casa, clavado,  y adivinen porque ¿? No me perdería nunca el mirar por el cerrojo ese momento perfecto, inolvidable, en el que se cambiaba de ropa para retirarse de nuestra  casa, era una rutina de todos los días, estaba cebado, bueno los hombres del club me entenderán, un pendejo de mi edad, viendo unas curvas, una ropa interior femenina que calzaba de maravilla en ese cuerpo dibujado de nuestra Nonita, nombre ficticio, nada de qué preocuparnos,  comprenderán entonces que era  adicto a encerrarme en el baño, luego de semejante cuarteo, en chileno .. y no me juzguen , sé que no estaba bien, pero esta hermosa chica que ayuda en las cosas de nuestra casa era realmente una mujer perfecta para mí.<br/><br/>
  Bueno, cuento corto, no entendí muy bien, pero llego el día en que dejaba de trabajar con nosotros, creo que tenía un novio, que se la llevaba a vivir a otra ciudad, algo así parece que fue esa parte de la historia, que sin duda nos dejaba triste como familia y aún más a mí, que ya no tendría ese evento diario a las 18:45 hrs de todos los santos días.<br/><br/>
  
  Paso el tiempo, crecimos,  hermanos y hermanas haciendo sus vidas, yo conocí una guapa  e inteligente mujer con la que me case y tenemos hijos, vivimos bien, no tanto detalle, como les dije no quiero salir pillado, de mi hablaremos muy poco, porque ahora viene lo interesante de la confesión que voy a liberar,  no me van a creer que esta linda Nonita de alguna forma vuelve a la familia , ahora cuidando unos pequeños niños de la familia, y lo único que se sabía es que enviudo, y tenía una hija o un hijo, no recuerdo muy bien.<br/><br/>
  Lo importante ahora es que me reencontré con ella, en un evento familiar, créanme que la vi y es como si no hubiese pasado tanto tiempo, estaba igual, seguía tan hermosa, y con un físico soñado, me quede pegado observándola. Mi esposa en ese evento no pudo participar, no recuerdo el motivo, pero ahí estaba yo, solo, la miraba y recordaba cada santo día en que la observe escondido en el momento en que se cambiaba de ropa.<br/><br/>

Ella seguía siendo una mujer muy cariñosa, atenta, simpática, por supuesto que ya no me veía
como un niño, pero mantenía esa relación como de regaloneo, a la cual yo me sometía sin ningún
tapujo, recuerdo que cruzamos un par de palabras, dado que estaba ocupadísima atendiendo a
los demás, por lo mismo me aleje para que realizara sus cosas tranquilamente.
<br/><br/>
Compartimos un buen rato, hasta que llegaba la hora del café, ese momento en que todos
comienzan a retirarse, adivinen que ¿? El Sapo seguía ahí, no tenía ninguna intención de irme a
casa, si bien soy un hombre tranquilo, adoro a mi mujer, pero en ese momento, con todos esos
recuerdos, estaba embobado, algo raro me ocurría, no dejaba de pensar en tener tan solo un
momento a solas con ella para conversar, recordar, hasta confesarle eso que hacia cuando niño,
así de decidido, hasta que de pronto escucho un grito de una integrante de mi familia que dice a
viva voz, quien se puede llevar a mi Nonita ¿? Ni siquiera terminaba la pregunta, salte como un
verdadero Sapo , dije yo me voy ahora y voy solo en auto, no tengo problemas en pasar a dejarla a
su casa , a lo que recibí un ok como respuesta, me reía solo por dentro, estaba nervioso, como
cuando vas a una primera cita con la chica que tanto te gusta y no habías podido concretar.
<br/><br/>
Bueno llego el preciado momento de subirnos al auto , era mi momento, para hacer preguntas y
tratar de contarle todo lo que ella me generaba a mis cortos 13 años , pero antes de cualquier
cosa ella me dice Sapo, no me voy a casa , quede de reunirme con una amiga en un local nocturno
, a compartir un traguito ya que estoy sola esta noche, su hija o hijo estaba fuera de la ciudad,
entonces yo como todo un caballero, le señale que no había inconveniente, la llevaría a ese local y
esperaría a que se reunieran para retirarme, que es lo que haría cualquier caballero de este club
verdad … así que nos dirigimos rumbo al carretito para dos.
<br/><br/>
Fue poco lo que hablamos en el transcurso del viaje, iba cortado, no me salían las palabras, el
canchero estaba fundido, pero llegamos muy pronto al bar, era de noche, muy poco tránsito
vehicular, así que me estacione cerquita del lugar, para que ella llamara a su amiga, algo le
contesta, se despide muy agradecida por haberla llevado y se reúne al costado de mi auto con su
amiga, yo como un perdedor jajajaj me quede por unos segundos ahí, y ella de pronto regresa,
golpea mi ventana , dice Sapito mi amiga se tiene que ir , algo le ocurrió, la viene q buscar su
novio, con una cara entre tristeza y desilusionada, a lo que respondo, necesitas que te lleve a tu
casa ¿? Nonita con una cara angelical me dice, no te tomarías un trago conmigo para no
quedarme con las ganas, son tan pocas las veces que salgo, fue ahí cuando me mato, que podía
hacer yo, quien era yo para aumentar su tristeza, rápidamente y si mal no recuerdo hasta medio
tartamudo le dije ningún problema, yo la acompañare esta noche, ambos sonreímos.<br/><br/>
Finalmente la amiga se fue con su novio, quien la paso a buscar en unos minutos posteriores a los
que habíamos llegado a ese lugar, ingresamos juntos y abrazados a un bar, era mi Nonita y yo su
niñito, elegimos una mesa, unos tragos y fue ahí cuando por fin pudimos hablar, recordar tantas
experiencias, nos percatamos que yo ahora tenía algo de 40 y tantos y ella me superaba por unos
pocos años más, no era gran diferencia, pero le toco trabajar de muy joven. Entre tragos y más
recuerdos me fui soltando, algo que cuesta mucho, pero con la ayuda de los grados de alcohol me
atreví a contar todas las peripecias que debía hacer día a día para lograr verla en ropa interior,
incluso ya había perdido la vergüenza y el pudor, diciéndole que me encantaba más verla en
pantaletas, que otro tipo de ropa interior, te veías maravillosa cerré, a lo que ella un poco
sonrojada pero muy risueña me dice que aún mantiene ese estilo, pantaletas de tus colores
favoritos, si los quieres ver de nuevo me avisas y sonríe. Ya era muy tarde habíamos bebido un par
de tragos , ya era hora de ir a descansar , pedimos la cuenta y nos fuimos directo al auto, del
brazo, estaba fría la noche, nos subimos , cinturón de seguridad y en dirección a su casa, en mi
interna recordaba que estaba sola, y pensaba entre mí que hago si me invitara a pasar , estaba
callado y muy pensativo, ella solo me miraba. No vivía tan retirado desde donde habíamos estado
compartiendo, no nos tardamos casi nada, o yo quería llegar rápido ¿? No lo recuerdo, pero ahí
estábamos, me estacione, sin detener el auto y ella me dice Sapito no te puedes ir sin tomar un
café, como habíamos bebido un par de tragos , ella como mi Nonita se preocupaba de mi retorno,
detuve el motor , me baje de mi auto y me tiritaba todo, muy nervioso , entramos a su casa ,
estábamos completamente solos , ella pone agua a hervir para mi café, se va a su dormitorio , me
pide que la espere en su sofá, y cuando regresa, llevaba puesta una pequeña camiseta , sin sostén,
y una de esas pantaletas que me enloquecían, créanme que era una noche perfecta hasta ahí , y
lamentablemente no recuerdo más , un caballero no tiene memoria.
<br/><br/>
Lo pase increíble, necesitaba contarlo, porque fue una vivencia extremadamente oculta,
maravillosa y única.
<br/><br/>
Saludos

  `}
/>
