---
import TextosHistoria from "../../../components/TextosHistoria.astro";
---

<!-- La Colegiala -->
<div class="absolute bottom-0 w-full flex justify-center pb-4">
  <a
    href="#LaColegiala"
    class="text-center cursor-pointer animate-pulse animate-delay-75 text-red-500 text-4xl"
    ><i class="fas fa-angle-down"></i></a
  >
</div>

<TextosHistoria
  IdHistoria="ElSapoDeNonita"
  IdHref="#ElSapoDeNonita"
  Fecha="27 Junio 2024"
  Titulo="El Sapo De Nonita"
  Cita="Hola a todos los pertenecientes al famoso club de llorones , oye un agrado de poder contarles una de mis historias ocultas que me llevaba hasta mi muerte, hasta que apareció este sitio fantástico "
  Autor="Anónim@"
  Texto={`
  BHola a todos los pertenecientes al famoso club de llorones , oye un agrado de poder contarles una de mis historias ocultas que me llevaba hasta mi muerte, hasta que apareció este sitio fantástico para poder echar afuera y poder volver a recordar e ir disfrutando mientras les relato, ya que para mí este secretito fue una experiencia de aquellas. Lo primero que quería mencionar, es  que la  vez que vi una publicación de esta plataforma, la verdad no pesque mucho, luego de visualizar otros videos y flyer publicitarios comprendí un poco de que se trataba, lo comentamos recuerdo bien, con un amigote de esos de carrete, pero que ni cagando le puedo confesar nada de esto, si se supiera queda la embarra familiar. Bueno les decía que al entender que efectivamente hay experiencias que todos tenemos y que en vida no las podríamos compartir, es que me anime a liberar una de las mías, que espero la encuentren entretenida.<br/><br/>
   
  En esta ocasión me pueden llamar “Sapo”, un mocoso de 13 o 14 años, entre los hermanos (varios) uno de los más grandes, de una familia un poco conservadora, mi padre de esos hombres de negocios que viste de terno toda la vida y mi madre no se quedaba atrás con su pinta, crecimos en un entorno acomodado, sin necesidades económicas, en buenos colegios, y la verdad teníamos de todo los que un niño quisiera, obvio esto gracias a los esfuerzos de nuestros padres, que no revelare tanto detalle para no salir pillado. Vivíamos en una hermosa ciudad de Chile, digo vivíamos porque en la medida que vamos independizándonos, algunos de mis hermanos van emigrando, entonces volvemos a esa linda casa, un gran patio, piscina, sala de estar tremenda, por ende cabe de cajón que teníamos una niña que ayudaba en los quehaceres del hogar , digo una niña, porque si no mal recuerdo, debió ser en ese tiempo unos 12 años mayor que yo , y era una chica muy linda , cariñosa con todos nosotros, atenta, y lo malo es que se iba todos los días a su hogar tipin 19 hrs, cuando digo malo, es por mí , porque dejaba de verla o estar cerca de ella.<br/><br/>
   
  En ese horario, en el que ella se iba, yo estaba siempre en casa, clavado,  y adivinen porque ¿? No me perdería nunca el mirar por el cerrojo ese momento perfecto, inolvidable, en el que se cambiaba de ropa para retirarse de nuestra  casa, era una rutina de todos los días, estaba cebado, bueno los hombres del club me entenderán, un pendejo de mi edad, viendo unas curvas, una ropa interior femenina que calzaba de maravilla en ese cuerpo dibujado de nuestra Nonita, nombre ficticio, nada de qué preocuparnos,  comprenderán entonces que era  adicto a encerrarme en el baño, luego de semejante cuarteo, en chileno .. y no me juzguen , sé que no estaba bien, pero esta hermosa chica que ayuda en las cosas de nuestra casa era realmente una mujer perfecta para mí.<br/><br/>
  Bueno, cuento corto, no entendí muy bien, pero llego el día en que dejaba de trabajar con nosotros, creo que tenía un novio, que se la llevaba a vivir a otra ciudad, algo así parece que fue esa parte de la historia, que sin duda nos dejaba triste como familia y aún más a mí, que ya no tendría ese evento diario a las 18:45 hrs de todos los santos días.<br/><br/>
  
  Paso el tiempo, crecimos,  hermanos y hermanas haciendo sus vidas, yo conocí una guapa  e inteligente mujer con la que me case y tenemos hijos, vivimos bien, no tanto detalle, como les dije no quiero salir pillado, de mi hablaremos muy poco, porque ahora viene lo interesante de la confesión que voy a liberar,  no me van a creer que esta linda Nonita de alguna forma vuelve a la familia , ahora cuidando unos pequeños niños de la familia, y lo único que se sabía es que enviudo, y tenía una hija o un hijo, no recuerdo muy bien.<br/><br/>
  
  `}
/>
