---
import "../../src/styles/global.css";
import NavBar from "../components/Navbar/NavBar.astro";
const navLinks = [
  { href: "", label: "Inicio" },
  {
    href: "",
    label: "Nosotros",
  },
  {
    href: "",
    label: "Preguntas Frecuentes",
  },
  { href: "", label: "Servicios" },
  { href: "", label: "Contáctanos" },
];

import Footer from "../components/Footer.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import GoogleAnalitycs from "../components/GoogleAnalitycs.astro";
import Favicon from "../components/Favicon.astro";
---

<html lang="es" class="scroll-smooth focus:scroll-auto">
  <Favicon />

  <link rel="sitemap" href="/sitemap-index.xml" />
  <!--GOGOLE FONTS -->
  <!-- Establece una conexión temprana con el origen de Google Fonts -->
  <GoogleAnalitycs />
  <GoogleFontsOptimizer
    url="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap async"
  />

  <body>
    <slot />
    <header>
      <nav>
        <NavBar textoLogo="hastalatumba" links={navLinks} />
      </nav>
    </header>

    <Footer />

    <script src="../js/main.js"></script>
  </body>
</html>
